nav {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo--container, .nav__links--container {
  display: flex;
  align-items: center;
}
.nav__logo {
  width: 45px;
  margin: 5px;
}
.nav__logo--container h2 {
  font-size: 1.4rem;
  color: var(--green);
  width: auto;
}
.nav__links--container {
  min-width: 150px;
}
li {
  list-style: none;
  margin: auto 10px;
  font-size: 0.8rem;
}
li a {
  text-decoration: none;
  color: var(--soft-green);
}